body {
   margin: 0;
    font-size: 11px;
    /*width: 1900px;*/
}
/*Шапка сайта с лого и телефоном*/
.header {
display: flex;

height: 80px;
}

span {
    color: #FC9B09;
}

.headerLogo {
    
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 10px 0px 15%; 
}
.headerContacts {
    padding: 30px 10px 0px 10px;
    font-size: 14px;
}

.helicopter {
    background-image: url(img/helimain.png);
    position: absolute;
    width: 1900px;
    height: 840px;
    left: -30%;
    top: 100px;
}
.previevBlock {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 25%;
    left: 10%;

    margin-top: 200px;

    width: 70%;
    height: 300px;
}
.photosession {
    
width: 887px;
height: 89px;
left: 390px;
top: 386px;

font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 49px;

color: #FFFFFF;
}
.priceBlock {
    
    background: #FC9B09;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 30px;

    width: 224px;
    height: 96px;
    left: 614px;
    top: 504px;
    margin-right: 50%;
}
.reservPlace {
    width: 304px;
height: 68px;
left: 390px;
top: 612px;

border: 3px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
border-radius: 3px;

}
.reservPlace p {
    width: 230px;
height: 21px;
left: 427px;
top: 636px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #FFFFFF;

}