body {
   margin: 0;
    font-size: 11px;
    width: 100%;
    font-family: Montserrat;
}

/*Шапка сайта с лого и телефоном*/
.header {
    border: 1px solid red;

    display: flex;
    min-height: 80px;
}
.header__header-block {
    border: inherit;

display: flex;
width: 80%;
margin: auto;
justify-content: space-between;
align-items: center;
}
.header__header-block__header-logo {
    border: inherit;
}
.header__header-block__header-contacts {
border: inherit;

margin-left: -50%;
}
.header__header-block__header-callback {
    border: inherit;
}
/*Вертолёт*/
.main__previev {
    border: 1px solid red;

background-image: url("img/helimain.png");
background-position: 60% 10%;
width: inherit;
height: 600px;

display: flex;
flex-direction: column;
justify-content: stretch;
}
.main__previev__content-block__width-80 {
    border: inherit;

    width: 80%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.main__previev__main-text {
border: inherit;

width: 887px;
height: 89px;
font-weight: bold;
font-size: 40px;
color: #FFFFFF;
}
.main__previev__main-text span {
    text-decoration: none;
    color: #FC9B09;
}
.main__previev__main-block { 
    border: inherit;

display: flex;    
font-size: 30px;
color: #FFFFFF;
}
.main__previev__main-block__text-block {
border: inherit;

display: flex;
flex-direction: column;
flex-wrap: wrap;
position: absolute;
margin: 10px 10px;
color: #ffffff;
}
.text-block__text1 {
border: inherit;

top: 1%;
left: 2%;
font-size: 20px;
color: #ffffff;
}
.text-block__text2 {
    border: inherit;
    font-size: 35px;
    color: #ffffff;
}

.text-block__text3 {
    color: #ffffff;
    position: absolute;
    margin: 15px 0px auto 150px;
}
.text-block__element1 {
    position: absolute;
    margin: -4px 10px auto 122px;    
}
.main__previev__main-block__button {
width: 304px;
height: 68px;
display: flex;


border: 3px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
border-radius: 3px;
}
.main__previev__main-block__button a {
margin: auto;
text-decoration: none;
font-weight: 900;
font-size: 18px;
color: #FFFFFF;
}

/*Наши преимущества блок с одним фото*/
/*
.advantage {
    display: flex;
    flex-wrap: wrap;
    left: 10%;
    top: 20%
}

.advantage-video {
    left: 630px;
    width: 554px;
    height: 374px;
    
}
.advantageDescription {
    display: flex;
    flex-direction: column;
}
.advantageDescription__head {
    min-width: 20%;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}
.advantageDescription__description {
    max-width: 35%;
    top: 80%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    
}
.advantageList {
    top: 100%;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.reviews {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    position: absolute;
    width: 400px;
    height: 24px;
    left: 134px;
    top: 1455px;
    border-top: 0.5px solid #C7C7C7;
    border-bottom: 0.5px solid #C7C7C7;;
    padding: 30px 0px 30px 0px;
}

.photoGallery {
    display: flex;
    flex-wrap: wrap;
    
    position: absolute;
    top: 1600px;
    left: 135px;
    padding: 0;
}
.photoGallery span {
    position: absolute;
    width: 219px;
    height: 24px;
    left: 150px;
    top: -50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #37373F;
}

.photoGallery img {
    margin: 10px;
}
.allphotos {
    position: absolute;
    width: 166px;
    height: 19px;
    left: 671px;
    top: 2027px;
    margin-top: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;

    color: #5286EC;
}
.bottomLine {
    position: absolute;
    width: 1139px;
    height: 0px;
    border: 0.5px solid #C7C7C7;
}
.b-1 {
    left: 190px;
    top: 2123px;
}
.aboutUs {
    display: flex;
    position: absolute;
    top: 2200px;
    left: 170px;
}
.aboutOrg {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

color: #37373F;

}
.aboutOne {
    position: absolute;
    width: 384px;
    height: 242px;
    left: 0px;
    top: 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #37373F;
}
.aboutOrgNext {
    position: absolute;
width: 126px;
height: 19px;
left: 100px;
top: 290px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;

color: #5286EC;

}

.aboutMe {
    position: absolute;
    width: 254px;
    height: 24px;
    left: 0;
    top: 350px;

    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;

color: #37373F;
}
.aboutTwo {
    position: absolute;
    width: 384px;
    height: 242px;
    left: 0px;
    top: 400px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #37373F;
}
.aboutOrgNext2 {
    position: absolute;
    width: 126px;
    height: 19px;
    left: 100px;
    top: 540px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    
    color: #5286EC;
}

.marinaBlock {
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 2250px;
    right: 100px;
}
.marinaAvatar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 139px;
    height: 139px;
}
.marinaHeart {
    position: absolute;
width: 31px;
height: 27px;
right: 20px;
top: 0;

}
.marinaList {
    position: absolute;
    list-style: none;
    top: 170px;
    left: -20px;
}
.marinaList li:first-child {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
}
.marinaList li:nth-child(2) {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
text-align: center;

color: #37373F;
}
.marinaList li:last-child {
    text-decoration: none;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
text-align: center;

color: #5286EC;
}
.b-2 {
    left: 190px;
top: 2790px;
}
.timetableBox {
    display: flex;
    position: absolute;
    top: 2900px;
    left: 190px;
}
.timetableName {

font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;

color: #37373F;
}
.tableList {
    position: absolute;
top: 70px;
left: 0px;
display: flex;
width: 650px;
height: 458px;
border: 2px solid rgb(194, 194, 194);
padding: 15px;
font-size: 18px;

}
.tableList td {
    border-bottom: 1px solid lightgrey;
}
.button-2 {
    border: 2px solid #FC9B09;
    padding: 15px 40px;
    color: #FC9B09;
}
.maps {
    display: flex;
    position: relative;
    top: 2940px;

} */